@import './utils/reset';
@import './utils/variables';
@import './utils/settings';
@import './components/page-header';
@import './components/logo';
@import './components/nav';
@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/form-modal';
@import './components/advantages';
@import './components/suggestion';
@import './components/team';
@import './components/sec-bckgrnd-grey';
@import './components/social-networks';
@import './components/clients';
@import './components/page-footer';
@import './components/join';
@import './components/form-sign-up';
@import './components/btn-portfolio';
@import './components/portfolio';
