
.hero {
    position: relative;
    background: #2f303a;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
    outline: 1px solid #2196F3;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(52, 52, 53, 0.4)), 
    url("../images/imgbgfon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.hero__title {
    font-size: 44px;
    text-transform: uppercase;
    max-width: 650px;
    color:#FFFFFF;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero__btn {
    padding: 10px 32px;
    background: var(--act-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--prim-white-background);
    margin: 0 auto;
    max-width: 650px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--prim-white-background);
}
}