
.join__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--prim-white-background);
}
.join {
   
    margin-left: 70px;
    margin-right: 93px;
} 