.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--act-color);
}

.logo__text--black {
    color: var(--main-color);
    display: inline-block;
    margin-right: 5px;
}

.logo__text--white {
    color: var(--prim-white-background);
}