
.modal {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
    max-height: 581px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    background: var(--prim-white-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__exit {
    position: relative;
}
.modal__img {
    position: absolute;
    top: -1px;
    left: -1px;
    stroke: #000;
    stroke-opacity: 0.1;
    transition: stroke, stroke-opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal__img:hover {
    stroke: #2196f3;
    stroke-opacity: 1;
  }
.modal__btn {
    position: absolute;
    top: -30px;
    right: -30px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: var(--prim-white-background);
}
       
