
.site-nav,
.site-nav__links,
.auth-nav
{
    display: flex;
    justify-content: space-between;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__links,
.site-nav__links li a {
    margin-right: 50px;
    display: inline-block;
    padding: 30.5px 0;
    color: var(--main-color);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__links li:last-child a {
    margin-right: 0px;
    
}

.auth-nav__links {
    margin: 0 0 0 50px;
    color: var(--sec-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.auth-nav__links:hover,
.auth-nav__links:focus,
.site-nav__links li a:focus,
.site-nav__links li a:hover {
    color: var(--act-color);
}


.auth-nav__img--wider {
    width: 16px;
    height: 12px;
    
}
.auth-nav__img--higher {
    width: 10px;
    height: 16px;
    }


.auth-nav__img {
    fill: currentColor;
}

.site-nav__item--active {
    position: relative;
}

.site-nav__item--active::after {
    position: absolute;
    bottom: -1px;
    transform: translateY(100%);
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--act-color);
    border-radius: 2px;
}
