.page-header {
    border-bottom: 1px solid #ececec;
    background: #ffffff;
    background-attachment: scroll;
    position: relative;
  }
  .page-header .logo {
    margin-right: 94px;
    padding: 23px 0;
    align-items: center;
  }
  .container__header {
    @extend %container;
  
    position: relative;
    height: 60px;
    padding: 0 15px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @media screen and (max-width: 767px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      position: static;
      height: 80px;
  
      justify-content: flex-start;
    }
  }

  



// .page-header .container {
//     display: flex;
//     justify-content: space-between;
//     transition-property: color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .page-header{
//     border-bottom: 1px solid #ececec;
// }
// .page-header .logo {
//     margin-right: 93px;
//     display: flex;
//     align-items: center;
// }
