.page-footer {
    background: #2f303a;
    // padding: 60px 0;


    @media screen and (max-width: 767px) {
        min-width: 480px;
      }
      @include tab {
        min-width: 768px;
    
        @include FlexCenter();
      }
      @media desk {
        min-width: 1200px;
      }
    
    // max-width: 1600px;
    // margin: 0px auto;
    // margin-top: 94px;
    }

.container--flex{
    
    @extend %container;

    @media screen and (max-width: 767px) {
      width: 480px;
      height: 603px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 768px;
      height: 463px;

      display: inline-flex;
      flex-wrap: wrap;

      align-items: flex-start;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
  
        width: 1200px;
        height: 252px;
        padding: 60px 15px;
      }
 }
 .page-footer__logo-address {
    @media screen and (max-width: 767px) { 
      margin-bottom: 60px;
    }
  
    @include tab {
      display: inline-flex;
    }
    display: flex;
    flex-direction: column;
  
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
  
    @include desk {
      text-align: left;
    }
  }
  
// .footer-contact {
//     max-width: 230px;
//     display: flex;
//     flex-wrap: wrap;
//     padding-top: 20px;
// }

// .footer-contact__item {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 24px;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
// }

// .footer-contact__item--white {
// color: #FFFFFF;
// }