@mixin font ($fn: 16px, $fw: 600, $lh: 1.33, $ls: 0.02em) {
    font-size: $fn;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin tel {
    @media screen and (min-width: $mobile)  {
        @content;
    }
} 


@mixin tab {
    @media screen and (min-width: $tablet)  {
        @content;
    }
    
} 


@mixin desk {
    @media screen and (min-width: $desktop)  {
        @content;
    }
    
}

@mixin FlexCenter($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
  }
@mixin Anime($type: fill) {
    transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @mixin ColorText($color) {
    color: $color;
    text-decoration: none;
  }