%list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  %container {
    margin: 0 auto;
    padding: 60px 15px;

    @include tel {
      width: $mobile;
    }
    @include tab {
        width: $tablet;
      }
    @include desk {
      width: $desktop;
      padding-top: 94px;
      padding-bottom: 94px;
    }
}