body{
    background-color: var(--prim-white-background);
    min-width: 360px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #050303;
}
.section {
    padding-top: 94px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    outline: 1px solid red;
    margin: 0 auto;
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet; 
    }      
    @media screen and (min-width: $desktop){
        width: $desktop;
    }
}


.hedden-elem {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}

img {
    display: block;
}