:root {
    /* color for main-PRIMARY TEXT */
    --main-color: #212121;
    /* color for SECONDARY TEXT */
    --sec-color: #757575;
     /* color for SELECTION -ACCENT TEXT */
    --act-color: #2196F3;
    /* color for BLACK backgroud*/
    --prim-white-background: #FFFFFF;
    --sec-grey-background-color: #E5E5E5;
    --thir-grey-white-background: #F5F4FA;
    $grywhtbckgrnd:var(--thir-grey-white-background);
    


}